
<h1>Articles</h1>


<% @articles.each do |article| %>
  <div style="display:flex;flex-direction: row;">
    <a href="<%=article_path(article) %>" style="flex:1;">
      <div class="" style="display:flex;flex-direction: row;justify-content:space-around;border: 1px solid #666666;border-radius: 5px;;margin: 10px;padding: 5px;">
        <div class="">
          <div><%= image_tag article.image_url(:thumb) %></div>
        </div>
        <div class="IndexDiv"  style="display:flex;flex-direction: column;justify-content:space-between;min-height: 50px;">
          <div><%= article.name %></div>
          <div><%= article.price %></div>

          <div><%= article.category.name %></div>
          <div><%= article.created_at %></div>

        </div>

      </div>
    </a>
    <% if user_signed_in? && current_user.id == article.user_id %>
      <div class="" style="flex:0;min-width: 100px;display: flex;flex-direction: column;justify-content: space-around">

          <%= link_to 'Edit', edit_article_path(article), class:'btn btn-primary' %>
          <%= link_to 'Destroy', article, method: :delete, class:'btn btn-warning', data: { confirm: 'Are you sure?' } %>

      </div>
    <%end %>
  </div>

<% end %>

<% if user_signed_in?%>
  <%= link_to 'New Article', new_article_path %>
<% end %>

